<include file="Common/header"/>
    <load href="/Public/css/Add/index.css"/>
<include file="Common:nav"/>
        <div class="body_2">
            <p class="p_s">扩充你的私有单词库</p>
        </div>
        <div class="body_3">
            <div class="add_form1">
                <div class="add_form2">
                    <form method="post" action="{:U('Add/add_words')}">
                        <div class="form-group">
                            <label for="word_name">单词</label>
                            <input type="text" class="form-control" id="word_name" name="word_name" placeholder="word name,compulsory element">
                        </div>
                        <div class="form-group">
                            <label for="paraphrase">释义</label>
                            <input type="text" class="form-control" id="paraphrase" name="paraphrase" placeholder="paraphrase,compulsory element">
                        </div>
                        <div class="form-group">
                            <label for="original_sent">原句</label>
                            <input type="text" class="form-control" id="original_sent" name="original_sent" placeholder="original sentence,compulsory element">
                        </div>
                        <div class="form-group">
                            <label for="make_sent1">造句1</label>
                            <input type="text" class="form-control" id="make_sent1" name="make_sent1" placeholder="make sentence,alternative element">
                        </div>
                        <div class="form-group">
                            <label for="make_sent2">造句2</label>
                            <input type="text" class="form-control" id="make_sent2" name="make_sent2" placeholder="make sentence,alternative element">
                        </div>
                        <div class="form-group">
                            <label for="make_sent3">造句3</label>
                            <input type="text" class="form-control" id="make_sent3" name="make_sent3" placeholder="make sentence,alternative element">
                        </div>
                        <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
<include file="Common:bottom"/>