<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winterfell</title>
    <load href="/Public/css/bootstrap.css"/>
    <load href="/Public/css/Words/index.css"/>
    <load href="/Public/css/Add/index.css"/>
</head>
<body class="body_s">
<div>
    <nav class="nav_s navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="logo_s">
                <img class="logo_img" src="__PUBLIC__/img/ogo.jpg"/>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{:U('Index/Words/index')}"><h class="nav_h">首页</h></a></li>
                    <li><a href="#"><h class="nav_h">添加单词</h></a></li>
                    <li><a href="#"><h class="nav_h">查询单词</h></a></li>
                    <li><a href="#"><h class="nav_h">随便看看</h></a></li>
                </ul>
                <form class="sou_form navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="say_hello nav navbar-nav navbar-right">
                    <li><a><span>你好,{$name}</span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="body_1">
        <div class="body_2">
            <p class="p_s">扩充你的私有单词库</p>
        </div>
        <div class="body_3">
            <div class="add_form1">
                <div class="add_form2">
                    <form method="post" action="{:U('Add/add_words')}">
                        <div class="form-group">
                            <label for="word_name">单词</label>
                            <input type="text" class="form-control" id="word_name" name="word_name" placeholder="word name,compulsory element">
                        </div>
                        <div class="form-group">
                            <label for="paraphrase">释义</label>
                            <input type="text" class="form-control" id="paraphrase" name="paraphrase" placeholder="paraphrase,compulsory element">
                        </div>
                        <div class="form-group">
                            <label for="original_sent">原句</label>
                            <input type="text" class="form-control" id="original_sent" name="original_sent" placeholder="original sentence,alternative element">
                        </div>
                        <div class="form-group">
                            <label for="make_sent1">造句1</label>
                            <input type="text" class="form-control" id="make_sent1" name="make_sent1" placeholder="make sentence,alternative element">
                        </div>
                        <div class="form-group">
                            <label for="make_sent2">造句2</label>
                            <input type="text" class="form-control" id="make_sent2" name="make_sent2" placeholder="make sentence,alternative element">
                        </div>
                        <div class="form-group">
                            <label for="make_sent3">造句3</label>
                            <input type="text" class="form-control" id="make_sent3" name="make_sent3" placeholder="make sentence,alternative element">
                        </div>
                        <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="clear">
            <div class="clear_1">
                <div class="introduction">
                    <span class="font_color">关于Winterfell</span>
                    <p class="font_color">Winterfell是一款帮助英语学习的程序，在英语阅读的过程中你可以将不认识的单词进行整理成卡片,
                        使用Winterfell可以帮助你收集整理单词卡片电子化,并方便自己再次查阅已经积累的单词卡片.
                    </p>
                    <p class="font_color">你可以通过添加单词功能添加陌生单词的例句出处,释义,并可以添加3个造句.
                        你可以通过某一个释义,某一个原句中的关键词,某一个造句中的关键词进行单词查询,也可以复习一段时间内的单词,
                        当然,可以调取所有的单词进行复习
                    </p>
                    <p class="font_color">你可以点击随便看看,就可以看到10条你的或其他战友的单词卡片
                    </p>
                </div>
                <div class="technology">
                    <span class="font_color">技术栈</span>
                    <p class="font_color">PHP&nbsp;&nbsp;&nbsp;&nbsp;ThinkPHP&nbsp;&nbsp;&nbsp;&nbsp;
                        Bootstrap&nbsp;&nbsp;&nbsp;&nbsp;Python&nbsp;&nbsp;&nbsp;&nbsp;
                        Flask&nbsp;&nbsp;&nbsp;&nbsp;Rest&nbsp;&nbsp;&nbsp;&nbsp;Mongo&nbsp;&nbsp;&nbsp;&nbsp;Mysql</p>
                </div>
            </div>
            <div class="clear_2">
                <span class="body_bottom">&copy; 2015-2016</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="body_bottom" href="http://yanzl.net" target="_blank">挂在树上的兔子</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="body_bottom">山东理工大学</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>