<include file="Common/header"/>
<load href="/Public/css/Query/paraphrase.css"/>
<include file="Common/nav"/>

<div class="body_2">
    <p class="p_s">根据释义查询单词</p>
</div>
<div class="body_3">
    <div class="query_para">
        <form method="post" action="{:U('Query/time_handle')}">
            <div class="form-group" style="width: 35%">
                <label for="time">请选择时间</label>
                <input type="month" class="form-control" id="time" name="time">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

<include file="Common/bottom"/>