<include file="Common/header"/>
<load href="/Public/css/Query/word_show.css"/>
<include file="Common/nav"/>

<div class="body_2">
    <p class="p_s">现在开始复习单词</p>
</div>
<div class="body_3">
    <div class="show_content">
        <table class="table table-hover">
            <tr>
                <th style="width: 13%">单词</th>
                <th style="width: 70%">释义</th>
                <th style="width: 17%">操作</th>
            </tr>
            <foreach name='select' item='word' >
                <tr>
                    <td style="width: 13%">{$word.word_name}</td>
                    <td style="width: 70%">{$word.paraphrase}</td>
                    <td style="width: 17%">
                        <a href="{:U('Query/show_one',array('word_id'=>$word['word_id']))}" aria-label="Previous">
                            <button type="button" class="btn btn-success btn-sm">查看</button>
                        </a>
                        &nbsp;
                        <a href="{:U('Query/delete_word',array('word_id'=>$word['word_id']))}" aria-label="Previous">
                            <button type="button" class="btn btn-success btn-sm">删除</button>
                        </a>
                    </td>
                </tr>
            </foreach>
        </table>
        <nav>
            <ul class="pagination">
                <if condition="($p eq 1)"><li class="disabled"><else /><li></if>
                <a href="{:U('Query/all_word_show',array('p'=>$p-1,'count'=>$count,'bz'=>$bz,'key1' => $key1))}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>

                </li>
                <li class="active"><a href="#"><span>{$p}</span></a></li>
                <if condition="($maxp gt ($p+1)) OR ($maxp eq ($p+1))">
                    <li><a href="{:U('Query/all_word_show',array('p'=>$p+1,'count'=>$count,'bz'=>$bz,'key1' => $key1))}"><span>{$p+1}</span></a></li>
                </if>
                <if condition="($maxp gt ($p+2)) OR ($maxp eq ($p+2))">
                    <li><a href="{:U('Query/all_word_show',array('p'=>$p+2,'count'=>$count,'bz'=>$bz,'key1' => $key1))}"><span>{$p+2}</span></a></li>
                </if>
                <if condition="($maxp gt ($p+3)) OR ($maxp eq ($p+3))">
                    <li><a href="{:U('Query/all_word_show',array('p'=>$p+3,'count'=>$count,'bz'=>$bz,'key1' => $key1))}"><span>{$p+3}</span></a></li>
                </if>
                <if condition="($maxp gt ($p+4)) OR ($maxp eq ($p+4))">
                    <li><a href="{:U('Query/all_word_show',array('p'=>$p+4,'count'=>$count,'bz'=>$bz,'key1' => $key1))}"><span>{$p+4}</span></a></li>
                </if>

                <if condition="($p eq $maxp)"><li class="disabled"><else/><li></if>
                <a href="{:U('Query/all_word_show',array('p'=>$p+1,'count'=>$count,'bz'=>$bz,'key1' => $key1))}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
                <li><span>{$p}/{$maxp}页&nbsp;&nbsp;{$count}条记录</span></li>
            </ul>
        </nav>
    </div>
</div>

<include file="Common/bottom"/>